@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes slideDown {
  0% {
    height: 0;
    opacity: 0;
  }
  35% {
    height: 40rem;
  }
  100% {
    opacity: 1;
  }
}

@layer components {
  .dropdown {
    animation: slideDown 0.75s ease-in-out;
  }
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

input,
select {
  @apply border border-gray-300 rounded-md p-2 text-base text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
}

button {
  @apply bg-blue-500 text-white font-semibold py-2 px-4 rounded-md;
}